<template>
    <v-card>
        <v-card-title>
            <h2>Formulario de asignacion de equipos computacionales</h2>
        </v-card-title>
        <v-form>
            <v-container grid-list-xl>
                <v-layout wrap>
                    <v-flex xs12 sm6 md4 >
                        <v-select :items="allMovimientos" v-model="movimiento" item-text="nom_movimiento" item-value="id"
                        :menu-props="{ top: false, offsetY: true }" label="Seleccione el tipo de formulario">
                        </v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                        <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="date"
                                label="Seleccione fecha de asignacion"
                                prepend-icon="event"
                                readonly
                                v-on="on"
                            ></v-text-field>
                            </template>
                            <v-date-picker v-model="date" @input="menu2 = false"></v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                        <v-text-field
                            value="0001"
                            label="Numero de formulario"
                            outlined
                            readonly
                        ></v-text-field>
                    </v-flex>
                    <!--Siguiente fila de formulario -->
                    <v-flex xs12 sm6 md4>
                        <label for="">Funcionario para asignacion</label>
                        <h3><p v-for="item in lista[0]" :key="item.id">{{item.primer_nom+' '+ item.primer_ap +' '+ item.segundo_ap}}</p></h3>
                        
                    </v-flex>
                    <v-flex xs12 sm6 md2>
                        <Popup :lista="lista" @list-added="lista.push($event)"/>
                    </v-flex>
                    <v-flex xs12 sm6 md6>
                        <v-select :items="allUnidadPisos" v-model="unidad" item-text="unidad_piso" item-value="id"
                        :menu-props="{ top: false, offsetY: true }" label="Seleccione la unidad">
                        </v-select>
                    </v-flex>
                    <!--siguiente fila de formulario-->
                    <v-flex xs12 sm6 md4>
                        <v-text-field
                            value="Juan Perez"
                            label="Funcionario registrando"
                            outlined
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6 md4>
                        <v-text-field
                            value="Registro"
                            label="Estado de formulario"
                            outlined
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6 md4>
                        <v-text-field
                            value="vigente"
                            label="Vigencia del formulario"
                            outlined
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <!--siguiente fila de formulario-->

                    <v-flex xs12 sm12 md12>
                        <v-card>
                            <v-card-title>
                            <h3> Lista de equipos por asignar </h3>
                            <v-spacer></v-spacer>
                            <PopupItem :activo="activo" @items-added="activo.push($event)"/>
                            </v-card-title>
                            <v-data-table
                                :headers="headers"
                                :items="addactivo"
                                class="elevation-1"
                            >
                                <template v-slot:items="props" >
                                <td>{{ props.item.modelo }}</td>
                                <td class="text-xs-right">{{ props.item.serial }}</td>
                                <td class="text-xs-right">{{ props.item.marca }}</td>
                                <td class="text-xs-right">{{ props.item.mac }}</td>
                                <td class="text-xs-right">{{ props.item.vigencia }}</td>
                                <td class="text-xs-right">{{ props.item.nom_proveedor }}</td>
                                <td class="text-xs-right">{{ props.item.nom_tipo }}</td>
                                <td class="justify-center layout px-4">
                                    <v-icon small @click="deleteItem(props.item)">
                                        delete
                                    </v-icon>
                                </td>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-flex>

                    <!--siguiente fila de formulario-->

                    <v-flex xs12 sm12 md12>
                         <v-text-field
                            v-model="title"
                            :rules="rules"
                            counter="25"
                            box
                            label="Observaciones"
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm8 md8>
                        <v-card>
                            <v-card-title>
                            <h3> Funcionarios que autorizan asignacion </h3>
                            <v-spacer></v-spacer>
                            <PopupAuto :funcio="funcio" @funci-added="funcio.push($event)"/>
                            </v-card-title>
                            <v-data-table
                                :headers="headers2"
                                :items="addautorizacion"
                                class="elevation-1"
                            >
                                <template v-slot:items="props" >
                                <td>{{ props.item.primer_nom }}</td>
                                <td class="text-xs-right">{{ props.item.primer_ap }}</td>
                                <td class="text-xs-right">{{ props.item.fec_contrato }}</td>
                                <td class="text-xs-right">{{ props.item.vigencia }}</td>
                                <td class="justify-center layout px-4">
                                    <v-icon small @click="deleteautor(props.item)">
                                        delete
                                    </v-icon>
                                </td>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm 4 md4>
                        <v-btn flat class="success dark mx-5 mt-6" @click="onSubmit" :loading="loading">Guardar Formulario</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn flat class="error mx-5 mt-3" :loading="loading">Cancelar</v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
            
        </v-form>
    </v-card>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import Popup from './PopUpUsrAsignado'
import PopupItem from './PopUpItem'
import PopupAuto from './PopupAutorizacion'
export default {
    name: "Formulario",
    data() {
        return {
            lista: [],
            activo: [],
            funcio: [],
            movimiento:'',
            unidad: '',
            funcionario: '',
            title:'',
            date: new Date().toISOString().substr(0, 10),
            menu2: false,
            search: '',
            selected: [],
            loading: false,
            rules: [v => v.length <= 25 || 'Max 25 characters'],
            headers: [
            {
                text: 'Modelo',
                align: 'left',
                sortable: false,
                value: 'modelo'
            },
            { text: "Nro. Serial", value: "serial" },
            { text: "Marca", value: "marca" },
            { text: "Mac", value: "mac" },
            { text: "Garantia", value: "vigencia" },
            { text: "Proveedor", value: "nom_proveedor" },
            { text: "Tipo de Item", value: "nom_tipo" },
            ],
            headers2: [
                {
                text: "Nombre",
                align: "left",
                sortable: false,
                value: "primer_nom"
                },
                { text: "Apellido Paterno", value: "primer_ap" },
                { text: "Fecha de contrato", value: "fec_contrato" },
                { text: "Vigencia", value: "vigencia" }
            ]
        }
    },
    components:{
        Popup, PopupItem, PopupAuto
    },
    methods: {
        ...mapActions(['fetchMovimientos', 'fetchUnidadPisos']),
        deleteItem (item) {
            const index = this.addactivo.indexOf(item)
            confirm('Esta seguro de borrar este item???') && this.addactivo.splice(index, 1)
        },
        deleteautor (item) {
            const index = this.addautorizacion.indexOf(item)
            confirm('Esta seguro de borrar este funcionario???') && this.addautorizacion.splice(index, 1)
        },
        onSubmit(e){
            e.preventDefault();
            if(this.$refs.form.validate()){
                this.loading = true;
                this.addGrupo({cod_grupo: this.cod_grupo,
                                nom_grupo: this.nom_grupo,
                                observacion: this.observacion,
                                vigencia: this.vigencia 
                                }).then(()=>{
                this.loading=false;
                this.dialog=false;
                this.$emit('grupoAgregado')
            })
            }
        }
        
    },
    computed: {
        ...mapGetters(['allMovimientos', 'allUnidadPisos']),
        addfuncionario: function (){
            let funcionario= this.lista[0]
            return funcionario
        },
        addactivo: function (){
            let activos= this.activo[0]
            return activos
        },
        addautorizacion: function (){
            let aurotizacion= this.funcio[0]
            return aurotizacion
        },
    },
    created(){
        this.fetchMovimientos()
        this.fetchUnidadPisos()
    }
}
</script>