<template>
    
    <v-container class="my-5">
        <v-btn @click="nuevoForm">
            Nuevo formulario
            <v-icon>ballot</v-icon>
        </v-btn>
        <v-card flat class="pa-3" v-for="formulario in allFormularios" :key="formulario.id">
          <v-layout row wrap :class="`pa-3 project ${formulario.vigencia}`">
            <v-flex xs12 md6>
              <div class="caption grey--text">Nro Formulario</div>
              <div>{{formulario.nro_fromulario}}</div>
            </v-flex>
            <v-flex xs6 sm4 md2>
              <div class="caption grey--text">Fecha de asignacion</div>
              <div>{{formulario.fec_asignacion}}</div>
            </v-flex>
            <v-flex xs6 sm4 md2>
              <div class="caption grey--text">Tipo de formulario</div>
              <div>{{formulario.movimiento_id}}</div>
            </v-flex>
            <v-flex xs2 sm4 md2>
              <div class="right">
                <v-chip :class="`${formulario.vigencia} white--text caption my-2`">{{formulario.vigencia}}</v-chip>
              </div>
            </v-flex>
            <v-flex xs4 sm12 md12>
              <div class="caption grey--text">Observaciones</div>
              <div>{{formulario.usuario_registro}}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
        </v-card>
    </v-container>
    
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
export default {
    name:'Formulario',
    methods:{
        ...mapActions(["fetchFormularios"]),
        nuevoForm(){
            this.$router.push('/nuevoform')
        }
    },
    computed: mapGetters(["allFormularios"]),

    created(){
        this.fetchFormularios();
    }
}
</script>

<style>

</style>
