<template>
    <div class="grupos">
        <h1 class="subheading grey--text"> Grupos de activos</h1>
        <v-container class="my-5">
            <v-expansion-panel>
                <v-expansion-panel-content v-for="grupos in allGrupos" :key="grupos.id">
                    <div slot="header">{{grupos.nom_grupo}}</div>
                    <v-card>
                        <v-card-text class="px-4 grey--text">
                            <div class="font-weight-bold">Codigo :  {{grupos.cod_grupo}}</div>
                            <div>Descripcion :  {{grupos.observacion}}</div>
                            <div>Vigencia : {{grupos.vigencia}}</div>
                        </v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-container>
    </div>
</template>


<!--<template>
    <div class="grupoitems">
        <h3>Este es el componente</h3>
        <div class="grupoitem">
            <div v-for="grupos in allGrupos" :key="grupos.id" class="grupito">
                {{grupos.nom_grupo}}           
            </div>
                
        </div>
    </div>
</template>-->

<script>
import {mapGetters, mapActions} from 'vuex';
export default {
    name:'Grupoitem',
    
    methods:{
        ...mapActions(["fetchGrupos"])
    },
    computed: mapGetters(["allGrupos"]),

    created(){
        this.fetchGrupos();
    }
}
</script>

<style>
.grupito{
        border: 1px solid #ccc;
        background: #41b883;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
</style>
