<template>
    <v-dialog max-width="600px" v-model="dialog">
        <v-btn slot="activator" class="success">Crear grupo
            <v-icon>add_circle</v-icon>
        </v-btn>
        <v-card>
            <v-card-title>
                <h2>Crear nuevo grupo de activos</h2>
            </v-card-title>
            <v-card-text>
                <v-form class="px-3" ref="form">
                    <v-text-field label="cod_grupo" v-model="cod_grupo" prepend-icon="folder" :rules="inputRules"></v-text-field>
                    <v-text-field label="nom_grupo" v-model="nom_grupo" prepend-icon="edit" :rules="inputRules"></v-text-field>              
                    <v-text-field label="observacion" v-model="observacion" prepend-icon="sort" :rules="inputRules"></v-text-field>
                    <v-text-field label="vigencia" v-model="vigencia" prepend-icon="swap_vert" :rules="inputRules"></v-text-field>              
                    <v-spacer></v-spacer>

                     <v-btn flat class="success mx-0 mt-3" @click="onSubmit" :loading="loading">Agregar Grupo</v-btn>
                </v-form>
            </v-card-text>

        </v-card>
    </v-dialog>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:"AddGrupo",
    data() {
        return {
            cod_grupo:'',
            nom_grupo:'',
            observacion:'',
            vigencia: '',
            inputRules:[
                v => v.length >= 3 || 'Minimum length is 3 characters'
            ],
            loading: false,
            dialog: false
        }
    },
    methods: {
        ...mapActions(['addGrupo']),
        onSubmit(e){
            e.preventDefault();
            if(this.$refs.form.validate()){
                this.loading = true;
                this.addGrupo({cod_grupo: this.cod_grupo,
                                nom_grupo: this.nom_grupo,
                                observacion: this.observacion,
                                vigencia: this.vigencia 
                                }).then(()=>{
                this.loading=false;
                this.dialog=false;
                this.$emit('grupoAgregado')
            })
            }
        }
    },
}
</script>
