<template say>
  <v-dialog max-width="700px" v-model="dialog">
    <v-btn slot="activator" class="primary">
      Agregar
      <v-icon>add_circle</v-icon>
    </v-btn>
    <v-card>
      <v-card-title>
        <h3>Seleccione funcionario para asignacion de items</h3>
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      </v-card-title>
      <v-card-text>
        <v-form class="px3" ref="form">
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="allFuncionarios"
          :pagination.sync="pagination"
          :search="search"
          select-all
          item-key="id"
          class="elevation-1"
        >
          <template v-slot:headers="props">
            <tr>
              <th>
                <v-checkbox
                  :input-value="props.all"
                  :indeterminate="props.indeterminate"
                  primary
                  hide-details
                  @click.stop="toggleAll"
                ></v-checkbox>
              </th>
              <th
                v-for="header in props.headers"
                :key="header.text"
                :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                @click="changeSort(header.value)"
              >
                <v-icon small>arrow_upward</v-icon>
                {{ header.text }}
              </th>
            </tr>
          </template>
          <template v-slot:items="props">
            <tr
              :active="props.selected"
              @click="props.selected = !props.selected"
              v-on:
              keyup.enter="addSelected"
            >
              <td>
                <v-checkbox :input-value="props.selected" primary hide-details></v-checkbox>
              </td>
              <td>{{ props.item.primer_nom }}</td>
              <td class="text-xs-right">{{ props.item.primer_ap }}</td>
              <td class="text-xs-right">{{ props.item.fec_contrato }}</td>
              <td class="text-xs-right">{{ props.item.vigencia }}</td>
            </tr>
          </template>
        </v-data-table>
        <template v-slot:no-results>
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >Your search for "{{ search }}" found no results.</v-alert>
        </template>
      <v-btn round color="info" @click="$emit('list-added', selected, dialog=false)" :loading="loading">Aceptar</v-btn>
      </v-form>
      </v-card-text>
      
     
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Funcionarios",
  props: {
      lista: Array
  },
  data() {
    return {
      pagination: {
        sortBy: "primer_nom"
      },
      selected: [],
      funcionario:'',
      search: "",
      loading:false,
      dialog:false,
      headers: [
        {
          text: "Nombre",
          align: "left",
          sortable: false,
          value: "primer_nom"
        },
        { text: "Apellido Paterno", value: "primer_ap" },
        { text: "Fecha de contrato", value: "fec_contrato" },
        { text: "Vigencia", value: "vigencia" }
      ]
    };
  },
  methods: {
    ...mapActions(["fetchFuncionarios"]),
  },
  computed: mapGetters(["allFuncionarios"]),

  created() {
    this.fetchFuncionarios();
  }
};
</script>