<template>
    <div class="formularios">
        <v-snackbar v-model="snackbar" :timeout="4000" top color="success">
           <span>Agregaste un nuevo formulario.</span>
           <v-btn flat color="white" @click="snackbar = false">Close</v-btn>
        </v-snackbar>
        <div>
            <v-flex class="mt-4 mb-3">
                <!--<popup @formularioAgregado="snackbar=true"/>-->
            </v-flex>
            
        </div> 
        <Formulario />
    </div>
</template>

<script>
import Formulario from '@/components/Formulario.vue'
export default {
    name: 'Formularios',
    data(){
        return{
            snackbar:false
        }
    },
    components:{
        Formulario
    }
}
</script>

<style>

</style>
