<template>
    <div class="grupos">
        <v-snackbar v-model="snackbar" :timeout="4000" top color="success">
           <span>Agregaste un nuevo grupo.</span>
           <v-btn flat color="white" @click="snackbar = false">Close</v-btn>
        </v-snackbar>
        <div>
            <v-flex class="mt-4 mb-3">
                <popup @grupoAgregado="snackbar=true"/>
            </v-flex>
            
        </div> 
        <GrupoItem/>
    </div>
    
</template>

<script>

import GrupoItem from '@/components/GrupoItem.vue'
import Popup from '../components/PopUpGrupo.vue'
export default {
    name:'Grupos',
    data(){
        return{
            snackbar:false
        }
    },
    components:{
        GrupoItem,
        Popup
    }
}
</script>
